﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserControlPaciente.ascx.cs" Inherits="AlfaOdontoWeb.UserControlPaciente" %>
         
            <div class="block-header">
                <h2>FICHA DO PACIENTE</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active"><a href="Sobre.aspx" data-toggle="tab">SOBRE</a></li>
                                <li role="presentation"><a href="#" data-toggle="tab">ORÇAMENTOS </a></li>
                                <li role="presentation"><a href="#" data-toggle="tab">TRATAMENTOS</a></li>
                                <li role="presentation"><a href="#" data-toggle="tab">ANAMNESE</a></li>
                                <li role="presentation"><a href="#" data-toggle="tab">DÉBITOS</a></li>
                            </ul>

                           
                        </div>
                    </div>
                